<!doctype html>
<html lang="en" ng-app="todomvc" data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <title>ScalaJS-AngularJS TodoMVC</title>
  <link rel="stylesheet" href="base.css">
  <style>[ng-cloak] { display: none; }</style>
</head>
<body>
<section id="todoapp" ng-controller="TodoCtrl">
  <header id="header" todo-test="test">
    <h1>todos</h1>
    <form id="todo-form" ng-submit="controller.add()">
      <input id="new-todo" placeholder="What needs to be done?" ng-model="newTitle" autofocus>
    </form>
  </header>
  <section id="main" ng-show="todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="controller.markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="todo in todos | filter:statusFilter track by $index" 
        ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed">
          <label ng-dblclick="controller.edit(todo)">{{todo.title}}</label>
          <button class="destroy" ng-click="controller.remove(todo)"></button>
        </div>
        <form ng-submit="controller.doneEditing(todo)">
          <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="controller.doneEditing(todo)" 
            todo-escape="controller.revertEditing(todo)" todo-focus="todo == editedTodo">
        </form>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="todos.length" ng-cloak>
    <span id="todo-count"><strong>{{remainingCount}}</strong>
      <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
      </li>
      <li>
        <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
      </li>
      <li>
        <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="controller.clearCompleted()" 
      ng-show="remainingCount < todos.length">
      Clear completed ({{todos.length - remainingCount}})</button>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Credits:
    <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
    <a href="http://ericbidelman.com">Eric Bidelman</a>,
    <a href="http://jacobmumm.com">Jacob Mumm</a> and
    <a href="http://igorminar.com">Igor Minar</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
<script src="target/scala-2.11/todomvc-scalajs-jsdeps.js"></script>
<script src="target/scala-2.11/todomvc-scalajs-fastopt.js"></script>
<script>todomvc.example.TodoApp().main();</script>
</body>
</html>
